<div class='jumbotron'>
<h1 id='title'>MyRecipes</h1>
</div>
<div class='pic'>
  <img  src="https://louisiana.kitchenandculture.com/sites/default/files/default_images/cooking-icon_1.jpg" alt="" />

</div>
<div class='center'>
  <a href="/recipes" ><button class='btn btn-success'>Let's Cook!</button></a>
</div>
