<html>
	<head>
		<title>MyRecipes</title>
		<link rel="stylesheet" href="https://bootswatch.com/flatly/bootstrap.min.css">
		<link rel='stylesheet' href='/css/main.css'>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
		<script src='/js/main.js'></script>
		<!-- <link href='https://fonts.googleapis.com/css?family=Josefin+Slab' rel='stylesheet' type='text/css'> -->
		<link href='https://fonts.googleapis.com/css?family=Josefin+Slab:700' rel='stylesheet' type='text/css'>
	</head>
	<body>
		<div id="fb-root"></div>

<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.4&appId=476933069134274";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
		<nav class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a  href="/"><span class="glyphicon glyphicon-home navbar-brand" aria-hidden="true"> </span></a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li><a href="/recipes"> MyRecipes</a></li>
            <li><a id='search' href='#'>Search</a></li>
            <!-- <li><a href="#contact">Contact</a></li>  -->
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <!-- <li><a href="../navbar/">Default</a></li>
            <li><a href="../navbar-static-top/">Static top</a></li> -->
            <!-- <li><a href="./">Sign In <span class="sr-only">(current)</span></a></li> -->
						<li><div class="fb-login-button navbar-brand" data-max-rows="1" data-size="medium" data-show-faces="false" data-auto-logout-link="true"></div></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>
    <br>
		<br>
		<div class='container'>
			<%= yield %>
		</div>

	</body>
</html>
