<h2>Recipes</h2>
<form class='search' action="/search" method="post">
  <div class="form-group">
    <label for="search">Search</label>
    <input type="text" name="search" class='form-control'>
  </div>
  <button type='submit'>Search</button>
</form>


<table class="table table-striped table-condensed table-hover table-bordered">
  <thead>
    <tr>
    <th>Recipe Name</th>
    <th>Rating</th>
  </tr>
</thead>
<tbody>
<!-- <ul class='list'> -->
  <% Recipe.order(rating: :desc).all.each do |recipe| %>
  <tr>
    <td>
    <a href="/recipes/<%= recipe.id %>"><%= recipe.name %></a>
  </td>
    <td>
      <%= recipe.rating %> stars
    </td>
  <% end %>
</tr>
</tbody>
</table>





<form action="/recipes" method="post" id="recipeform">
  <div class='form-group'>
    <label for="name">Enter your recipe name:</label>
    <input type="text" name="name" class='form-control' placeholder='Enter Recipe Name' required='true'>
    <label for="ingredients">Enter the ingredients:</label>
    <textarea class='form-control' name="ingredients" form="recipeform" placeholder='Enter ingredients' required='true'></textarea>
    <label for="instructions">Enter the instructions:</label>
    <textarea class='form-control' name="instructions" form="recipeform" placeholder='Enter instructions' required='true'></textarea>
  </div>
  <button class="btn btn-success"type='submit'>Submit</button>
</form>
