<br>
<br>
<form action="/recipes/<%= @recipe.id %>" method="post" id="recipeform">
  <div class='form-group'>
    <input type="hidden" name="_method" value="patch">
    <label for="name">Enter your recipe name:</label>
    <input type="text" name="name" class='form-control' placeholder='Enter Recipe Name' required='true'>
    <label for="ingredients">Enter the ingredients:</label>
    <textarea class='form-control' name="ingredients" form="recipeform" placeholder='Enter ingredients' required='true'></textarea>
    <label for="instructions">Enter the instructions:</label>
    <textarea class='form-control' name="instructions" form="recipeform" placeholder='Enter instructions' required='true'></textarea>
  </div>
  <button class="btn btn-success" type='submit'>Submit</button>
</form>

<a href="/recipes/<%= @recipe.id %>">Back</a>
