<h2><%= @recipe.name %></h2>
<a href="/recipes/<%= @recipe.id %>/edit">Update Recipe</a>

<p>
  <%= @recipe.ingredients %>
</p>

<p>
  <%= @recipe.instructions %>
</p>


<a href="/recipes">Recipes</a>
