.jumbotron {
  text-align: center;
  background-color: white;
  height: 150px

}

.list {
  margin-bottom: 5em;
}

.list-delete {
  font-size: 10px;
}

body  {
  font-family: 'Josefin Slab', serif;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
  font-family: 'Josefin Slab', serif;
}

table a:not(.btn), .table a:not(.btn) {
  text-decoration: none;
}

@media (min-width: 768px ) {
  .center {
    width: 175px;
    margin: 0 auto;

  }

  h1  {
    transform: translateX(-20px);
  }

}

@media (max-width: 768px) {

  .jumbotron h1 {
    font-size: 70px;
    transform: translateX(-15px);
  }
  .center {
    width: 250px;
    margin: 0 auto;
  }
}
.pic {
  width: 300px;
  margin: 0 auto;
  transform: translateX(-20px);
  margin-bottom: 3em;
}
